.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: calc(100% - 200px);
  transition: all 0.3s;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.book__wrapper {
  display: flex;
  gap: 16px;
}

.book__info {
  width: 100%;
}

.book__title {
  font-size: 32px;
}

.book__author,
.book__title {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.book__subtitle {
  font-size: 20px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 300;
}

.book__buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.book__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 48px;
  background-color: #032b41;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  transition: opacity 0.2s;
}

.bookmark {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0365f2;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 18px;
  transition: color 0.2s;
}

.book__section__title {
  font-size: 18px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.book__description,
.author__description {
  color: #032b41;
  line-height: 1.5;
}

.book__description {
  margin-bottom: 16px;
}

.book__features__wrapper {
  border-top: 1px solid #e1e7ea;
  border-bottom: 1px solid #e1e7ea;
  padding: 16px 0;
  margin-bottom: 24px;
}

.book__features {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  row-gap: 12px;
}

.book__feature {
  display: flex;
  align-items: center;
  width: 50%;
  color: #032b41;
  font-weight: 500;
  font-size: 14px;
}

.feature__icon__wrapper {
  display: flex;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.feature__icon,
.bookmark__icon,
.book__image {
  width: 100%;
  height: 100%;
}

.book__rating {
  margin-right: 4px;
}

.bookmark__icon__wrapper {
  display: flex;
  width: 20px;
  height: 20px;
}

.book__tags__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.book__tag {
  background-color: #f1f6f4;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: not-allowed;
  color: #032b41;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.book__image__wrapper {
    width: 300px;
    height: 300px;
    min-width: 300px;
    border: 1px solid black;
}
