.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: calc(100% - 200px);
  transition: all 0.3s;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
}

.for_you__title {
  font-size: 22px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 16px;
}

.for_you__subtitle {
    font-weight: 300;
    color: #394547;
    margin-bottom: 16px;
}

.selected__book {
  display: flex;
  justify-content: space-between;
  width: calc(100%/3 * 2);
  background-color: #fbefd6;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  gap: 24px;
}

.selected__subtitle {
  color: #032b41;
  width: 40%;
}

.selected__book__line {
  width: 1px;
  background-color: #bac8ce;
}

.selected__book__content {
  display: flex;
  gap: 16px;
  width: 60%;
}

.book__image__wrapper {
  height: 140px;
  width: 140px;
  min-width: 140px;
}

.book__image {
  height: 100%;
  width: 100%;
}

.selected__book__text {
  width: 100%;
}

.selected__book__title {
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px;
}

.selected__book__author {
  font-size: 14px;
  color: #394547;
  margin-bottom: 16px;
}

.duration__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.duration__icon{
    display: flex;
    align-items: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
}
