.modal__wrapper {
z-index: 9999;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.75);
}

.modal__row {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
}

.modal {
    position: relative;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 100%;
}

.modal__content {
    padding: 48px 32px 24px;
    display: flex;
    flex-direction: column;
}

.modal__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 24px;
}

.guest__btn {
    position: relative;
    display: flex;
    background-color: #3a579d;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    transition: background-color 200ms;
}

.guest__btn:hover {
    background-color: #25396b !important;
}

.guest__btn_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    position: absolute;
    left: 2px;
}

.modal__divider {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.modal__divider::before {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background: #bac8ce;
    margin-right: 24px;
    width: 100%;
}

.modal__divider::after {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background: #bac8ce;
    margin-left: 24px;
    width: 100%;
}

.divider__text {
    margin: 0 24px;
    font-size: 14px;
    color: #394547;
    font-weight: 500;
}

.google__btn {
    position: relative;
    display: flex;
    background-color: #4285f4;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    transition: background-color 200ms;
}

.google__btn:hover {
    background-color: #3367d6 !important;
}

.google__btn_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    left: 2px;
}

.google__btn_icon img{
    width: 24px;
    height: 24px;
}

.login__form,
.signup__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login__form_input,
.signup__form_input {
    height: 40px;
    border: 2px solid #bac8ce;
    border-radius: 4px;
    color: #394547;
    padding: 0 12px;
}

.login__btn,
.signup__btn {
    background-color: #2bd97c;
    color: #032b41;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
}

.login__btn:hover,
.signup__btn:hover {
    background-color: #20ba68 !important;
}

.forgot_password__link {
    text-align: center;
    color: #116be9;
    font-weight: 300;
    font-size: 14px;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch__btn {
    height: 40px;
    text-align: center;
    background-color: #f1f6f4;
    color: #116be9;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    border-radius: 0 0 4px 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.switch__btn:hover {
    background-color: #dfe8ec !important;
}

.close__btn{
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    cursor: pointer;
    font-size: 24px;

}